*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1080px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif
}
body{

}
img{
  display: flex;
  border-radius: 15px;
  border: 6px solid rgb(7, 7, 66);
  cursor: pointer;
  justify-content: center;
  padding-top: 15px 15px 15px;
  margin-top: 25px;
  width: 580px;
  height: 400px;
}
img:hover {
  border: 6px solid rgb(66, 7, 7);

}

body{
  background-color: rgba(255, 228, 196, 0.847);
}
h1{
  list-style: none;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

p{
  list-style: none;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: black;
  border-radius: 15px;
  width: 800px;
  padding-top: 40px;

}

ul{
list-style: none;
margin: auto;
text-align: center;
font-size: 25px;
background-color: rgba(205, 99, 99, 0.936);
background-position: center;
color: black;
border-radius: 15px;
width: 350px;
padding: 25px 25px 25px;
}



button{
  display: flexbox;
  margin: 20px;
  background:rgb(156, 142, 217);
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  border-radius: 10%;
  font-size: 20px;
  padding-top: 10px;
  align-items: center;
  width: 25%;
  height: 25%;
  justify-content: center;
  margin-right: 65px;
  list-style: none;
}

button .a href {

  list-style: none;
}
