*{

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif

}

header{
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
}

body{
  background-image: url(./COMPLETA111.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1{
  text-align: center;
  color: rgb(107, 5, 5);
  font-size: 55px;
}

h1:hover{
  transform: scale(0.9);
  background-color: rgb(69, 69, 237);
  color: black;
}
h4{
  text-align: center;
  font-size: 25px;
  color: black;
}

.container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  border-radius: 15px;
}
.container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-item: center;
}

h3{
  color: black;
  text-align: center;
  font-size: 27px;
}
h3:hover {
  color: rgb(75, 0, 146);
  font-size: 25px;
}

button{
  display: box;
  margin: auto;
  background:rgb(243, 78, 78);
  color: black;
  border: 0;
  cursor: pointer;
  padding: 10px 20px;
  position: left;
  font-size: 22px;
  text-align: center;
  justify-content: space-around;
}

button:hover{
  transform: scale(1.5);
  background-color: rgb(87, 0, 70);
  color: azure;
}

.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 400px;
  max-height: 500px;
  margin: 10%;
  padding: 30px;
  background: whitesmoke;
  position: relative;
  font-size: 20px;
  align-items: center;

}
.popup p {
  text-align: justify;
}

.popup a {
  color: whitesmoke;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none;
  background: rgb(243, 78, 78);
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

