*{
  padding: 0px auto;
  margin: 0px auto;
  border: 0px auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

img{
  display: flex;
  border-radius: 15px;
  border: 6px solid rgb(7, 7, 66);
  cursor: pointer;
  justify-content: center;
  padding-top: 15px 15px 15px;
  margin-top: 25px;
  width: 580px;
  height: 400px;
}
img:hover {
  border: 8px solid rgb(66, 7, 7);

}

body{
  background-image: url('./COMPLETA111.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-item: center;
}
h1{
  list-style: none;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

p{
  list-style: none;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: black;
  border-radius: 15px;
  width: 800px;
  padding-top: 40px;

}

ul{
list-style: none;
margin: auto;
text-align: center;
font-size: 25px;
background-color: rgba(205, 99, 99, 0.936);
background-position: center;
color: black;
border-radius: 15px;
width: 350px;
padding: 25px 25px 25px;

}

button{
  display: flex;
  margin: 30px;
  background:rgb(61, 2, 2);
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 15%;
  padding-top: 10px;
  width: 20%;
  height: 20%;
  justify-content: space-around;
}
button:hover{
  transform: scale(0.9);
  background-color: rgb(2, 2, 56);
  color: white;
  }
